.formGroup label {
    display: block;
    margin: 0 0 .5rem 0;
    text-transform: uppercase;
    font-weight: 500;
}

.formGroup label span {
    color: rgb(255, 82, 82);
}

.formGroup input, .formGroup textarea {
    width: 100%;
    padding: .5rem;
    background-color: white;
    color: var(--text-color);
    border: 1px solid #ccc;
    transition: all .2s;
    border-radius: 0;
    font-family: var(--body-font);
}

.formGroup input:focus, .formGroup textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

.formGroup textarea {
    resize: none;
    margin: 0;
}

.errorInput {
    border: 1px solid rgb(255, 82, 82) !important;
    background-color: rgba(255, 95, 95, 0.2);
}